<p>eaters new</p>
<h3>please confirm the information below and click submit</h3>

#this page is skipped over now because the eater is created in the registrations controller
#that i created which inherits from the devise registrations controller
  

<p>submit button that creates new eater and redirects to eater/show</p>