  <nav class="navbar navbar-dark fixed-top">
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapseNav'>
      &#9776;
    </button>
      <div class="collapse navbar-toggleable-xl" id='collapseNav'>
          <ul class="dropdown-nav">
            <li><%= link_to "Account", edit_user_registration_path, method: :get, class: 'nav-option' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-option' %></li>
          </ul>
      </div>

  </nav>
