  <nav class="navbar navbar-dark fixed-top">
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapseNav'>
      &#9776;
    </button>
      <div class="collapse navbar-toggleable-xl" id='collapseNav'>
          <ul class="nav navbar-nav">
            <li class="nav-item active"><%= link_to "Account", edit_user_registration_path, method: :get %></li>
            <li class="nav-item active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
      </div>

  </nav>
