
<body id="landing-page">
    <div class="welcome"> <h1>soup lady</h1> </div>
    <br/>
    <div class="about-us"><h3>A community driven approach to better food<h3></div>
    <br/>
    <br/>
    <div id="enter">
      <%= link_to 'Enter', new_user_session_path, method: :get, class:"btn btn-default btn-circle btn-xl" %>
   </div>
<%= link_to "logout", destroy_user_session_path, method: :delete %>
</body>