<body id="cooker-home">
  
<%= render partial: "partials/nav" %>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome, <%= current_user.username %></h1> 
    <p> mouths to feed this week (<%=Eater.all.where(cooker_id: current_user.cooker.id).count%>) </p> 
  </div>
</div>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  
<%= render partial: "partials/cooker_home", locals: {cooker: current_user.cooker}%>
  <br/>
  <div class="container" id="cooker-page">
    <div class="row">
      
      
      
   


    </div>
  </div>
</body>

