<body id="cooker-home">

  <%= render partial: "partials/nav" %>

  <div class="cooker-welcome">
    <h2 align="center"> Welcome back, <%= current_user.username %></h2>
  </div>

  <div align="center" class="self-profile">
    <%= render partial: "partials/cooker_home", locals: {cooker: current_user.cooker}%>
  </div>

  <%= react_component("PatronList", props: {patrons: patrons}, prerender: true) %>

</body>
