/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.sign-up {
  background-image: url(soup.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 

.login {
  background-image: url(soup.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#sign-up-form {
  color: white;
}
#login-form {
  color: white;
}

.cooker-sign-up {
  background-image: url(soup.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cooker-edit {
  background-image: url(ksoi.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.account-settings {
  background-image: url(qmsoup.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn {
  padding: 10px 16px;
  font-size: 24px;
  color: black;
  align-content: center;
  font-family: 'Asap Condensed', sans-serif;
}

.jumbotron {
  background: rgba(253, 236, 252, 0.8)
}

.navbar-brand {
  font-family: Courier New, Courier, monospace;
  font-size: 32px;
  color: whitesmoke;
  color: rgba(127, 236, 100, 0.8);
}

#nav-link {
  color: rgba(127, 236, 100, 0.8);
}

  #enter {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 100%;
  color: black;
  display: block;
  margin: auto;
}

.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 55px;
  border: 7px double black;
  font-size: 20px;
  vertical-align: center;
}

#eater-home {
  /* background-image: url("https://s-media-cache-ak0.pinimg.com/564x/af/fd/fd/affdfdd4b2af4b89885ac57ef529c9e4.jpg");  */
  background-size: center;
  background-position: center;
  background-attachment: fixed; 
}

#current-cook-photo {
  
}

 #cooker-home {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/5f/5b/eb/5f5beba7e8fb91603dc54c695686277a--avocado-tattoo-kitchen-art.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 }

 #cooker-page {
   color: white;
 }

#welcome-header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: Courier New, Courier, monospace;
  color: white;
}

.welcome-jumbo {
  margin-top: 60px;
}

#welcome-jumbo {
  background: rgba(127, 236, 100, 0.8);
}

#about-us {
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: 'Asap Condensed', sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
}

#tag-line {
  color:white;
  text-align: center;
  font-size: 24px;
  font-family: 'Asap Condensed', sans-serif;
}

.about {
  border: 1px solid black;
}

#eater-show {
  background-color: pink ;
}

.list-of-eaters {
  
}

#cook-id-block {
  color: white;
  background-color: black:
}

#cooker-profile {
  margin-bottom: 40px;
}

#cook-photo {
  display: block;
  margin: auto;
}

.cooker-img {
  width: 200px;
  height: 200px;
  padding: 4px 4px;
  /* line-height: 1.33; */
  border-radius: 50%;
  border: 3px double black;
}

#cooker-img {
  width: 110px;
  height: 110px;
  padding: 4px 4px;
  /* line-height: 1.33; */
  border-radius: 50%;
  border: 3px double black;
  margin-left: 23%;
}
#cook-info-eater {
  text-align: center;
}

.cook-name {
  font-size: 24px;
  text-align: center; 
  font-weight: bolder;
  font-family: 'Asap Condensed', sans-serif;
}
#cook-name {
  font-size: 18px;
  text-align: center; 
  font-weight: bolder;
  font-family: 'Asap Condensed', sans-serif;
}

#cooker-summary {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 0px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.86);
}

#search-header {
  text-align: center;
  margin-bottom: 30px;
}

#search-box {
 
  margin-top: 60px;
}
.subscribe-button{
  /* width: 30px;
  height: 30px;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 1.33;
  color: blueviolet;
  border-radius: 50px; */
  /* display: block; */
  font-size:18px;
  margin-bottom: 15px
  
}

#search-area {
  border: 2px solid black; 
  background: rgba(127, 236, 100, 0.8);
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 6px 6px 6px 6px; 
}

.grid {
  display: block;
  margin: auto;
  text-align: center;
}

#eater-home {
  margin-top: 60px;
}

.nav-bar {
  position: fixed; 
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: black;
}



